.guest-login-page .container-fluid {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.guest-login-page h1 {
    font-weight: 200;
}

.guest-login-page input {
    text-align: center;
    text-transform: uppercase;
}

.guest-login-page .logo-container {
    width: 100%;
    height: 100px;
    text-align: center;
}
.guest-login-page .logo-container .logo {
    height: 100px;
    width: 300px;
}

.guest-login-page .form {
    margin: 0 auto;
    text-align: center;
    max-width: 340px;
    padding: 10px;
}

.guest-login-page .form.create {
    border-right: 5px solid #d9534f;
}

.guest-login-page .btn {
    font-weight: bold;
}
.guest-login-page .access-button {
    color: #d9534f;
}

@media (max-width: 991px) {
    .guest-login-page .form.create {
        border: none;
    }
}