.home-page {
    text-align: center;
    margin: 0 auto;
}

.home-page .container-fluid {
    max-width: 720px;
}

.home-page .logo-container {
    width: 100%;
    height: 250px;
}
.home-page .logo-container .logo {
    height: 100%;
    width: 500px;
}

.home-page .subtitle {
    font-weight: 200;
}

.home-page .intro-text {
    margin: 0 auto;
    font-weight: 200;
    max-width: 500px;
    border-left: 3px solid #d9534f;
    padding: 10px;
    font-size: 18px;
}

.home-page .option {
    width: 100px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.home-page .option.guest {}
.home-page .option.host {   
    color: #d9534f;
}

.home-page .description {
    max-width: 350px;
    margin: 0 auto;
}


@media (max-width: 500px) {
    .home-page .logo-container {
    height: 100px;
    }
    .home-page .logo-container .logo {
        width: 300px;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .home-page .intro-text {
        font-size: 14px;
    }

}