/*Alright so I hate applying css to the body tag, 
but in this case it could not be avoided...
*/
body {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.home-page {
    text-align: center;
    margin: 0 auto;
    color: white;
}

.home-page .logo {
    margin: 20px auto;
    height: 250px;
    width: 250px;
    background-image: url(../img/PartyAll-black-gradient.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.home-page .title {
    padding: 20px 0;
}

.home-page .intro-text {
    margin: 0 auto;
    font-weight: 200;
    max-width: 500px;
    border-left: 1px solid white;
    padding: 10px;
}

.home-page .options {
    padding-bottom: 20px;
}

.home-page .options .option {
    width : 80px;
}

@media (max-width: 481px) {
    .home-page .logo {
        height: 150px;
        width: 150px;
    }
    h1 {
        font-size: 32px;
    }
}

@media (min-height: 900px) {
    .home-page {
        margin-top: 75px;
    }
}
@media (min-height: 1000px) {
    .home-page {
        margin-top: 150px;
    }
}
@media (min-height: 1500px) {
    .home-page {
        margin-top: 300px;
    }
}
