<link rel="stylesheet" href="../css/home.css">
<div class="home-page container-fluid">
    <div class="logo"></div>
    <h1 class="logo-font title">Welcome to PartyAll</h1>
    <div class="intro-text">PartyAll is an web app that allows users to collectively curate a playlist of songs. PartyAll will automatically play songs that have been requested and voted by users.</div>
    <h4 class="logo-font title">What type of user are you?</h4>
    <div class="options logo-font">
        <a class="btn btn-default option" href="#/login/host">
            <div>Host</div>
        </a>
        <a class="btn btn-default option" href="#/login/guest">
            <div>Guest</div>
        </a>
    </div>
</div>