<link rel="stylesheet" href="../css/host-login.css">
<div class="host-login-page container-fluid">
  <h1>Create a Party</h1>
  <form ng-controller="CreatePartyCtrl" ng-submit="createParty(credentials)" novalidate class="form-horizontal" role="form">
      <div class="form-group">
          <label class="col-sm-2 control-label">Party Name</label>
          <div class="col-sm-10">
              <input ng-model="credentials.partyName" type="text" class="form-control" placeholder="Party Name">
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label">Party Password</label>
          <div class="col-sm-10">
              <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">Confirm Party Password</label>
          <div class="col-sm-10">
              <input ng-model="credentials.confirmedPassword" type="password" class="form-control" placeholder="Comfirm Password">
              <p class="help-block">As a host, this is the password you will use to log into {{ (credentials.partyName || "your party") + "." }}</p>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Create</button>
          </div>
      </div>
      Party Name: {{credentials.partyName}}
      Password: {{credentials.password == credentials.confirmedPassword}}
  </form>

  <h1>Sign Into Existing Party</h1>
  <form ng-controller="HostLoginCtrl" ng-submit="login(credentials)" novalidate class="form-horizontal" role="form">
      <div class="form-group">
          <label class="col-sm-2 control-label">Party Key</label>
          <div class="col-sm-10">
              <input ng-model="credentials.partyKey" type="text" class="form-control" placeholder="Party Key">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
              <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
          </div>
      </div>
      Party Key: {{credentials.partyKey}}
      Password: {{credentials.password}}
  </form>
</div>
