<div>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-brand">{{ party.name || "Party" }}</div>
		</div>
	</div>

	<div class="container">
		<div ng-show="nowPlaying()">
			
			<h5>Now Playing</h5>
			
			<div ng-if="isHost()" ng-controller="PlayerCtrl">
				<audio id="player"></audio>

				
				<div class="player">
					<img class="artwork" ng-src="{{artwork}}"></img>
					<div class="info">
						<div>{{ artist }}</div>
						<div>{{ title }}</div>
						<div class="time"><span ng-style="{ width: timeWidth }"></span></div>

						<div class="controls">
							<div ng-click="playerControl()" ng-show="isPlaying" class="btn btn-default">Pause</div>
							<div ng-click="playerControl()" ng-hide="isPlaying" class="btn btn-default">Play</div>
							<div ng-click="nextSong()" class="btn btn-default">Next</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!isHost()">
				<img class="artwork" ng-src="{{ queue[queue.length - 1].artwork_url }}"></img>
				<div class="info">
					<div>{{ queue[queue.length - 1].data.user.username }}</div>
					<div>{{ queue[queue.length - 1].data.title }}</div>
				</div>
			</div>

			<h5>Up Next</h5>

			<div ng-repeat="song in queue.slice().reverse()" ng-hide="$first" class="player queue">
				<img class="artwork" ng-src="{{ song.data.artwork_url }}"></img>
				<div class="info">
					<div>{{ song.data.user.username }}</div>
					<div>{{ song.data.title }}</div>
				</div>
			</div>

		</div>

		<div ng-hide="nowPlaying()">
			<h5>Nothing playing</h5>
		</div>
	</div>
</div>