<div>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-brand">{{ party.name || "Party" }}</div>
		</div>
	</div>

	<div class="container">
		<div ng-if="songPlaying()">
			
			<h5>Now Playing</h5>
			
			<div ng-if="isHost()" ng-controller="PlayerCtrl">
				<audio id="player"></audio>

				<div class="player">
					<img class="artwork" ng-src="{{artwork}}"></img>
					<div class="info">
						<div>{{ artist }}</div>
						<div>{{ title }}</div>
						<div class="time"><span ng-style="{ width: timeWidth }"></span></div>

						<div class="controls">
							<div ng-click="playerControl()" ng-show="isPlaying" class="btn btn-default">Pause</div>
							<div ng-click="playerControl()" ng-hide="isPlaying" class="btn btn-default">Play</div>
							<div ng-click="nextSong()" class="btn btn-default">Next</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>